
.wrapper_header{
    width: 100%;
    height: var(--height-header);
    min-height: var(--height-header);
    display: flex;
    background-color: var(--blue-color);

}
.img_header{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    & img{
        height: 80%;
        border-radius: 50% 50% 0 0;
    }
}



