// Register.module.scss

.register-container {
    display: flex;
    justify-content: center; /* Canh giữa theo chiều ngang */
    align-items: center; /* Canh giữa theo chiều dọc */
    height: 100vh; /* Chiều cao 100% của viewport */
    width: 100%;
    background-color: rgb(101, 174, 248);
  }
  
  .register-form {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 700px;
    height: 380px;
    text-align: center;
  }
  
  .register-label {
    font-size: 18px;
    margin-bottom: 8px;
    display: block;
  }
  
  .register-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #998b8b;
    border-radius: 4px;
  }
  
  .register-button {
    background-color: rgba(30, 143, 255, 0.742);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin: 10px 40px;
    width: 100px;
  }
  
  .register-button:hover {
    background-color: #0056b3; /* Màu khi hover */
  }
  
  .register-link {
    margin-top: 16px;
    text-align: center;
    font-size: 14px;
    color: white;
    text-decoration: none;
  }
  
  .register-link a {
    color: white;
    text-decoration: underline;
  }
  
  .register-link a:hover {
    text-decoration: none;
  }
  