@import 'normalize.css';

:root{
    // color:
    --blue-color:#003466;
    --white-color:#ffff;
    --bg-form : #8580808f;
    --bg-btn:linear-gradient(#54b4eb,#2fa4e7 60%,#1d9ce5);
    --border-btn:#178acc;
    --btn-header:#0068bd;
    // font
    --font-size-header: 18px;
    --font-family:'TikTokFont', sans-serif;
    --font-size:20px;

    // size
    --height-header: 115px;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: var(--font-family);
    font-size: var(--font-size);
}

button,input,[tabindex]{
    outline: none;
    border: none;
}

a{
    color: var(--text-color);
    text-decoration: none;
}
li{
    list-style: none;
}

// fonts 
@font-face {
    font-family: TikTokFont;
    src: url('/assets/font/TikTokFont-Bold.woff2');
    font-weight: 700;
}
@font-face {
    font-family: TikTokFont;
    src: url('/assets/font/TikTokFont-Semibold.woff2');
    font-weight: 600;
}
@font-face {
    font-family: TikTokFont;
    src: url('/assets/font/TikTokFont-Regular.woff2');
    font-weight: 400;
}
@font-face {
    font-family: TikTokFont1;
    src: url('/assets/font/TikTokDisplayFont-Bold.woff2');
    font-weight: 700;
}

//scrollbar style css
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}
html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(2, 18, 248, 0.342);
}
html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(155, 169, 228, 0.715);
}
